$background_image: url('../images/bg.gif');
$logo : url('../images/logo.png');
$social-media-image: url('../images/social-media.png');
$roboto-font: 'Roboto';
$sans-serif: 'sans-serif';
$bright-red:#E65C43;
$white: #FFF;
$grey:#666;
$dark-grayish-blue:#30353D;
$red-headline-color:#F25C43;
$greybar-color:#F5F6F6;